  @media screen and (min-width: 1640px){
  	#grid-container{
  		max-width: 1640px; 
  	}
	
#klok{
	font-size: 45px;
	color: #c7c7c8;
	text-align: center;
	font-family: Arial;
}

#datum{
	font-size: 45px;
	color: #c7c7c8;
	text-align: center;
	font-family: Arial;
}

#tijd{
	font-size: 45px;
	color: #c7c7c8;
	text-align: center;
	font-family: Arial;
}
		h1{
	font-size: 60px;
		}

  }
