 @media screen and (min-width: 640px){
 	#header{
		padding-left: 10px;
	}

#klok{
	font-size: 25px;
	color: #c7c7c8;
	text-align: center;
	font-family: Arial;
}

#datum{
	font-size: 25px;
	color: #c7c7c8;
	text-align: center;
	font-family: Arial;
}

#tijd{
	font-size: 25px;
	color: #c7c7c8;
	text-align: center;
	font-family: Arial;
}

	
	h1{
	font-size: 45px;
	}

	
 }